/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #f0f4f8;
}

/* Header Styles */
header {
    background-color: #3a506b;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #6fffe9;
}

/* Main Content Styles */
main {
    padding: 2rem 0;
    position: relative;
}

section {
    margin-bottom: 3rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #1c2541;
}

/* About Section Styles */
.profile-photo {
    max-width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 3px solid #3a506b;
}

/* Blog Section Styles */
article {
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* Recommendations Section Styles */
.recommendations-container {
    display: flex;
    justify-content: space-between;
}

.music-recommendations, .book-recommendations {
    flex-basis: 48%;
}

/* Projects Section Styles (formerly Research) */
#projects article {
    border-left: 4px solid #3a506b;
    padding-left: 1rem;
}

/* Recommendations Section Styles */
.recommendations-container {
    display: flex;
    flex-direction: column;
}

.resources-i-like, .music-recommendations, .book-recommendations {
    margin-bottom: 2rem;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #3a506b;
    color: #ffffff;
    margin-top: 2rem;
}

/* Social Buttons Styles */
.social-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.linkedin-button {
    background-color: #0077B5;
    color: white;
}

.linkedin-button:hover {
    background-color: #006396;
}

.email-button {
    background-color: #D44638;
    color: white;
}

.email-button:hover {
    background-color: #B23121;
}

/* Responsive Design */
@media (max-width: 768px) {
    .recommendations-container {
        flex-direction: column;
    }
    
    .music-recommendations, .book-recommendations {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .profile-photo {
        position: static;
        display: block;
        margin: 0 auto 1rem;
    }
}
