<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true, 
          processEnvironments: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Blog</a></li>
                <li><a href="{{ '/aboutme' | relative_url }}">About Me</a></li>
                <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
                <li><a href="{{ '/brain-food' | relative_url }}">Brain Food</a></li> 
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

</body>
</html>
